<div class="player-info-container">
    <div class="profile">
        <img class="sum-icon" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/profile-icons/{{user.icon}}.jpg" alt="Summoner Icon">
        <h1 class="player-name">{{user.summonerName}}</h1>
    </div>

    <div class="rank-solo">
        <ul class="rank-options">
            <li value="rank-solo" class="active">Ranked Solo</li>
            <li value="rank-solo" >Ranked Flex</li>
        </ul> 
        <div> 
            
            {{#if user.league.ranked_solo.tier}}
                <img class="rank-border" src="/img/Emblem_{{user.league.ranked_solo.tier}}.png" alt="Rank border">
                <div class="rank-title">{{user.league.ranked_solo.tier}} {{user.league.ranked_solo.rank}}</div>   
                <div class="rank-points">{{user.league.ranked_solo.points}} LP</div>
            {{else}}
                <img class="rank-border" src="/img/Emblem_Unranked.png" alt="Rank border">
                <div class="rank-title">Unranked</div>
            {{/if}}
        </div>
        <div>
            {{#if user.league.ranked_solo.tier}}
                <div class="total-games">{{user.league.ranked_solo.wins}}W {{user.league.ranked_solo.loss}}L</div>
                <div id="wr">{{user.league.ranked_solo.wr}}%</div>
            {{else}}
                <div class="total-games">0W 0L</div>
            {{/if}}
        </div>
    </div>
    <div class="rank-flex inactive-rank">
        <ul class="rank-options">
            <li value="rank-flex">Ranked Solo</li>
            <li value="rank-flex" class="active" >Ranked Flex</li>
        </ul> 
        <div> 
            {{#if user.league.ranked_flex.tier}}
                <img class="rank-border" src="/img/Emblem_{{user.league.ranked_flex.tier}}.png" alt="Rank border">
                <div class="rank-title">{{user.league.ranked_flex.tier}}</div>
                <div>{{user.league.ranked_flex.rank}}</div>
                <div class="rank-points">{{user.league.ranked_flex.points}} LP</div>

            {{else}}
                <img class="rank-border" src="/img/Emblem_Unranked.png" alt="Rank border">
                <div class="rank-title">Unranked</div>
            {{/if}}
        </div>
        <div>
            {{#if user.league.ranked_flex.tier}}
                <div class="total-games">{{user.league.ranked_flex.wins}}W {{user.league.ranked_flex.loss}}L</div>
                <div id="wr">{{user.league.ranked_flex.wr}}%</div>
            {{else}}
                <div class="total-games">0W 0L</div>
            {{/if}}
        </div>
    </div>
</div>

<div class="tab">
    <div>History</div>
    <div>Champions</div>
</div>
<section>
    <div class="match-history-container">
        <div class="title">Match History</div>
        <ul>
            {{#each games}}
            <li class="match-history">
                <div id="type-of-game">
                    <div><strong>{{queueType}}</strong></div>
                    <div id="space">{{timeDiff}}</div>
                    <div><strong>{{win}}</strong></div>
                    <div>{{time.mins}}mins {{time.secs}}seconds</div>
                </div>

                <img 
                class="champion-icon"
                border-radius="50%"
                src="https://cdn.communitydragon.org/11.10.1/champion/{{champion}}/square">

                <div class="player-stats">
                    <div class="calc-kda">{{stats.kda}}:1 KDA</div>
                    <div class="raw-kda">{{stats.kills}} /<span class="deaths"> {{stats.deaths}} </span> / {{stats.assists}}</div>
                </div>
                <div class="player-stats">
                    <div>{{stats.cspm}} CS/Min</div>
                    <div>{{stats.cs}} CS</div>
                </div>
                <div class="player-stats kpa">
                    <div>{{stats.kpa}}% KPA</div>
                    <div>{{stats.kill_assists}}/{{stats.total_team_kills}}</div>
                </div>
                
                <div id="items">
                    {{#each items}}
                        {{#if item}}
                            <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}.1/img/item/{{item}}.png">
                        {{/if}}
                    {{/each}}
                </div>
            </li>
            {{/each}}
        </ul>
        
    </div>
    <ul class="champions">
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>

        </li>
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>
        </li>
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>
        </li>
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>
        </li>
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>
        </li>
    </ul>
</section>
<script src="/javascripts/playerScript.js"></script>