<div class="player-info-container">
    <div class="profile">
        <img class="sum-icon" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/profile-icons/{{user.icon}}.jpg" alt="Summoner Icon">
        <h1 class="player-name">{{user.summonerName}}</h1>
    </div>
    <div class="rank">
        <div> 
            <img class="rank-border" src="/img/Emblem_{{user.tier}}.png" alt="Rank border">
            <div class="rank-title">{{user.tier}}</div>
            <div>{{user.rank}}</div>

        </div>
        <div>
            <div class="total-games">{{user.wins}}W {{user.losses}}L</div>
            <div id="wr-t">{{user.wr}}%</div>
        </div>

    </div>
</div>

<div class="tab">
    <div>History</div>
    <div>Champions</div>
</div>
<section>
    <div class="match-history-container">
        <div class="title">Match History</div>
        <ul>
            {{#each games}}
            <li class="match-history">
                <div id="type-of-game">
                    <div><strong>Normal</strong></div>
                    <div id="space">{{gameStats.timeDiff}}</div>
                    <div><strong>{{gameStats.win}}</strong></div>
                    <div>{{gameStats.time.mins}}mins {{gameStats.time.secs}}seconds</div>
                </div>

                <img 
                class="champion-icon"
                border-radius="50%"
                src="https://cdn.communitydragon.org/11.10.1/champion/{{gameStats.champion}}/square">

                <div class="player-stats">
                    <div class="calc-kda">{{gameStats.kda}}:1 KDA</div>
                    <div class="raw-kda">{{gameStats.kills}} /<span class="deaths"> {{gameStats.deaths}} </span> / {{gameStats.assists}}</div>
                </div>
                <div class="player-stats">
                    <div>{{gameStats.cspm}} CS/Min</div>
                    <div>{{gameStats.cs}} CS</div>
                </div>
                <div class="player-stats kpa">
                    <div>{{gameStats.kpa}}% KPA</div>
                    <div>{{gameStats.killAssist}}/{{gameStats.totalTeamKills}}</div>
                </div>
                <div id="items">
                    {{#if gameStats.item1}}
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{gameStats.item1}}.png">
                    {{/if}}
                    {{#if gameStats.item2}}
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{gameStats.item2}}.png">
                    {{/if}}
                    {{#if gameStats.item3}}
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{gameStats.item3}}.png">
                    {{/if}}
                    {{#if gameStats.item4}}
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{gameStats.item4}}.png">
                    {{/if}}
                    {{#if gameStats.item5}}
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{gameStats.item5}}.png">
                    {{/if}}
                    {{#if gameStats.item6}}
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{gameStats.item6}}.png">
                    {{/if}}
                </div>
            </li>
            {{/each}}
        </ul>
        
    </div>
    <ul class="champions">
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>

        </li>
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>
        </li>
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>
        </li>
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>
        </li>
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>
        </li>
    </ul>
</section>
