<div class="player-info-container">
    <div class="profile">
        <div class="sum-icon"></div>
        <h1 class="player-name">xEliteProdigyx</h1>
    </div>
    <div class="rank">
        <div> 
            <div class="rank-border"></div>
            <div>Rank</div>
        </div>
        <div>
            <div class="total-games">300W 200L</div>
            <div id="wr-t">60%</div>
        </div>

    </div>
</div>

<div class="tab">
    <div>History</div>
    <div>Champions</div>
</div>
<section>
    <div class="match-history-container">
        <div class="title">Match History</div>
        <ul>
            {{#each games}}
            <li class="match-history">
                <div id="type-of-game">
                    <div><strong>Normal</strong></div>
                    <div id="space">{{gameStats.timeDiff}}</div>
                    <div><strong>{{gameStats.win}}</strong></div>
                    <div>{{gameStats.time.mins}}mins {{gameStats.time.secs}}seconds</div>
                </div>

                <img 
                class="champion-icon"
                border-radius="50%"
                src="https://cdn.communitydragon.org/{{version}}/champion/{{gameStats.champion}}/square">

                <div class="player-stats">
                    <div class="calc-kda">{{gameStats.kda}}:1 KDA</div>
                    <div class="raw-kda">{{gameStats.kills}} /<span class="deaths"> {{gameStats.deaths}} </span> / {{gameStats.assists}}</div>
                </div>
                <div class="player-stats">
                    <div>{{gameStats.cspm}} CS/Min</div>
                    <div>{{gameStats.cs}} CS</div>
                </div>
                <div class="player-stats kpa">
                    <div>{{gameStats.kpa}}% KPA</div>
                    <div>{{gameStats.kills}}/{{gameStats.totalTeamKills}}</div>
                </div>
                <div id="items">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{gameStats.item1}}.png">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{gameStats.item2}}.png">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{gameStats.item3}}.png">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{gameStats.item4}}.png">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{gameStats.item5}}.png">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{gameStats.item6}}.png">
                </div>
            </li>
            {{/each}}
        </ul>
        
    </div>
    <ul class="champions">
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>

        </li>
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>
        </li>
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>
        </li>
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>
        </li>
        <li>
            <div class="champ-img"></div>
            <div>
                <div class="champ-name">Name</div>
                <div class="num-of-games">41 Games</div>
            </div>
            <div>
                <div class="wr">59% WR</div>
                <div class="kda">2.3</div>
            </div>
        </li>
    </ul>
</section>
